{% assign default_theme = site.style | default: 'system' %}
{% unless default_theme == 'light' or default_theme == 'dark' or default_theme == 'system' %}
  {% assign default_theme = 'system' %}
{% endunless %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

{% if page.path contains '_posts' %}
  {% assign page_title = page.title %}
  {% assign meta_description = page.content | strip_html | strip_newlines | truncate: 300 | xml_escape %}
{% else %}
  {% assign page_title = user.name %}
  {% assign meta_description = user.bio | strip_html | strip_newlines | truncate: 300 | xml_escape %}
{% endif %}

<!doctype html>
<html class="min-height-full" lang="en" data-theme-default="{{ default_theme }}" data-theme="{{ default_theme }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' https: data:; style-src 'self' 'unsafe-inline'; script-src 'self'; font-src 'self' data:; object-src 'none'; base-uri 'self'; form-action 'self'; upgrade-insecure-requests">
    <meta name="color-scheme" content="light dark">
    <script src="{{ "/assets/theme.js" | relative_url }}"></script>
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <title>{{ page_title | escape }}</title>
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:title" content="{{ user.name | escape }}" />
    <meta property="og:image" content="{{ user.avatar_url | escape }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ "/assets/vendor/primer.css" | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body class="min-height-full">
